body {
    margin: 0;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue",Helvetica,arial,freesans,clean,sans-serif;
	padding: 24px
}
body, h1, h2, h3, h4, h5, h6 {
    color: #66595c;
}

#content {
	font-size: 16px;
	line-height: 1.7;
}

p{
	margin: 15px 0;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
	margin:auto;
}

.portrait {
	width: 80%;
}

.portrait.en {
	width: 140%;
}

@media only screen and (min-device-width: 800px) {
	.portrait {
		width: 60%;
	}
	.portrait.en {
		width: 100%;
	}	
}

.landscape {
	width: 120%;
}
.landscape.en {
	width: 180%;
}

@media only screen and (min-device-width: 800px) {
	.landscape {
		width: 90%;
	}
	.landscape.en {
		width: 130%;
	}
}
